name: shift_auto
description: シフト自動生成アプリ
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # 状態管理
  flutter_hooks: ^0.21.0
  hooks_riverpod: ^2.4.9
  
  # データ永続化
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true